// Add Header Banner
$header-banner-height: 80px;

    #header-banner {
        position: fixed;
        top: 0;
        left: 0;
        background: #000;
        width: 100%;
        height: $header-banner-height;
        z-index: 1001;
        display: none;

        &.active {
            display: block;
        }

        .header-banner-title {
            @include flexbox();
            @include align-items(center);
            @include justify-content(center);

            height: 100%;
            width: 100%;
            padding: 0 2em;
            font-size: 15px;
            font-family: corposregular, sans-serif !important;
            text-align: center;
            color: #fff;

            a {
                font-weight: 700 !important;

                @media(max-width: 800px){
                    font-size: 13px;
                    line-height: 1.1;
                }
            }
        }

        @media only screen and (max-width: 767px) {
            .header-banner-close {
                top: 2px;
                right: 2px;
            }
        }
    }

    body.page-vehicle-display-page #header-banner {
        position: absolute;
    }

    body.header-banner-active {
        padding-top: $header-banner-height;

        #header,
        .menu-top {
            top: $header-banner-height;
        }
    }
// END Add Header Banner
